<div class="container mt-5">
  <div class="row">
    <!-- Course Item -->
    <div class="col-md-4 mb-4" *ngFor="let course of subscribedCourses">
      <div class="card">
        <img
          class="card-img-top"
          src="../../../assets/images/courses/{{ course.coursename }}.svg"
          alt="Course Image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ course.coursename }}</h5>

          <div class="btn-group" role="group" aria-label="Course Actions"></div>
        </div>
      </div>
    </div>
  </div>
</div>
